__pycache__
*.pyc
.pytest_cache
.coverage

*.log
*.zip
*.rar
*.tar.gz

.vscode/
*.code-workspace
.history/
*.app
.snapshots/
.idea/
*.iml

/result/
/logs/
/temp/
*.cache/
/libs/Mist/lib/android--1/
/libs/Mist/sootOutput/
